.l-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .l-header {
    height: 4rem;
  }
}

main {
  min-height: calc(100vh - 228px);
  margin-top: 99px;
}
@media screen and (max-width: 1024px) {
  main {
    margin-top: 4rem;
  }
}

.l-footer {
  background-color: #5C6171;
}