.p-nav--header {
  justify-content: flex-end;
  padding: 0 8%;
  font-weight: bold;
}
.p-nav--header nav ul {
  margin: 3rem 0;
  align-items: center;
}
.p-nav--header nav ul li:not(:last-of-type) {
  margin-right: 4rem;
}
.p-nav--header--contact a {
  background: #4d61d0;
  background: linear-gradient(90deg, #4d61d0 0%, #54c3eb 100%);
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .p-nav--header {
    display: none !important;
  }
}
.p-nav--project > a {
  padding-bottom: 3rem;
}
.p-nav--project--sub {
  display: none;
  position: absolute;
  background-color: #589FC1;
  padding-bottom: 3rem;
  margin-bottom: 0 !important;
  margin-top: 1.5rem !important;
  padding: 1rem;
}
.p-nav--project li {
  font-size: 1.3rem;
  color: #fff;
  margin: 0;
  margin-right: 0 !important;
}
.p-nav--project li:nth-of-type(1) {
  border-bottom: 1px solid;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
.p-nav--project li:nth-of-type(2) {
  border-bottom: 1px solid;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.p-nav--project li:nth-of-type(3) {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.p-nav--footer {
  color: #fff;
  padding: 3rem 8%;
  align-items: center;
}
.p-nav--footer nav ul li {
  font-weight: bold;
}
.p-nav--footer nav ul li:not(:last-of-type) {
  margin-right: 4rem;
}
.p-nav--footer--copyright {
  margin-left: auto;
}

.p-nav-sp__hamburger {
  display: none;
  position: fixed;
  cursor: pointer;
  border-radius: 5px;
  right: 0;
  top: 3rem;
  width: 4rem;
  height: 28px;
  margin-right: 5%;
  z-index: 3;
}
.p-nav-sp__hamburger span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  right: 0;
  height: 1px;
  border-radius: 2px;
  background: #3E4D62;
  width: 3rem;
}
.p-nav-sp__hamburger span:nth-of-type(1) {
  top: 0;
}
.p-nav-sp__hamburger span:nth-of-type(2) {
  top: 0.8rem;
  width: 4rem;
}
.p-nav-sp__hamburger span:nth-of-type(3) {
  top: 1.6rem;
}
@media screen and (max-width: 1024px) {
  .p-nav-sp__hamburger {
    display: block;
  }
}
.p-nav-sp__list {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #589FC1;
  height: 100vh;
  width: 50vw;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.6s;
  padding-top: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.p-nav-sp__list ul li {
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.p-nav-sp__list.c-active {
  transform: translateX(0%);
  visibility: visible;
}

.p-first-view {
  position: relative;
}
.p-first-view__text img {
  position: absolute;
  top: 22%;
  left: 7%;
  width: 35%;
}
.p-first-view__img img {
  width: 100%;
  aspect-ratio: 16/9;
}

.p-about {
  background-color: #fff;
  border-radius: 0 0 0 4rem;
  margin-left: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  background-image: url("../img/about-us.svg");
  background-repeat: no-repeat;
  background-size: 60rem;
}
.p-about__text {
  text-align: center;
  margin-top: 3rem;
}
.p-about__text p {
  display: inline-block;
  text-align: left;
  line-height: 2;
}

.p-project {
  background-color: #fff;
}
.p-project__back {
  background-color: #ECF1F4;
  border-radius: 0 4rem 4rem 0;
  margin-right: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  position: relative;
}
.p-project__back::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 15rem;
  background-image: url("../img/project.svg");
  background-repeat: no-repeat;
  background-size: 60rem;
  top: 0;
  right: 0;
}
.p-project__list {
  margin-top: 3rem;
  justify-content: center;
}
.p-project__box:not(:last-of-type) {
  margin-right: 4rem;
}
.p-project__box--img img {
  width: 100%;
  border-radius: 1rem;
}
.p-project__box--name {
  margin-top: 2rem;
  text-align: center;
}

.p-news {
  background-color: #fff;
  border-radius: 4rem 0 0 4rem;
  margin-left: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  background-image: url("../img/news.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}
.p-news__list {
  margin-top: 3rem;
}
.p-news__list--icon {
  margin-left: auto;
  color: #D6D6D6;
}
.p-news__list a {
  display: block;
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
.p-news__list a:not(:first-of-type) {
  border-top: none;
}
.p-news__list a li {
  padding: 2rem 0;
  align-items: center;
}
.p-news__list a li div:first-child {
  margin-right: 4rem;
}

.p-topics {
  background-color: #fff;
}
.p-topics__back {
  background-color: #ECF1F4;
  border-radius: 0 4rem 0 0;
  margin-right: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  position: relative;
}
.p-topics__back::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 15rem;
  background-image: url("../img/topics.svg");
  background-repeat: no-repeat;
  background-size: auto;
  top: 0;
  left: 10rem;
}
.p-topics__box {
  margin-top: 3rem;
}
.p-topics__box:first-of-type {
  margin-right: 5rem;
}
.p-topics__box img {
  width: 100%;
  box-shadow: 0px 4px 9px -5px rgba(0, 0, 0, 0.6);
}

.p-company {
  background-color: #fff;
  border-radius: 0 0 0 4rem;
  margin-left: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  background-image: url("../img/company.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
.p-company__list {
  margin-top: 3rem;
}
.p-company__list dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-company__list dl dt {
  padding: 2rem 1rem;
  width: 160px;
  border-bottom: 2px solid #589FC1;
}
.p-company__list dl dd {
  padding: 2rem 1rem;
  width: calc(100% - 160px);
  border-bottom: 1px solid #D6D6D6;
}

.p-access {
  background-color: #fff;
}
.p-access__back {
  background-color: #ECF1F4;
  border-radius: 0 4rem 0 0;
  margin-right: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  position: relative;
}
.p-access__back::before {
  content: "";
  position: absolute;
  width: 650px;
  height: 15rem;
  background-image: url("../img/access.svg");
  background-repeat: no-repeat;
  background-size: auto;
  top: 0;
  right: 0;
}
.p-access__map {
  margin-top: 3rem;
  aspect-ratio: 16/9;
}
.p-access__map iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.p-access__text {
  margin-top: 2rem;
  line-height: 2;
}
.p-access__text ul {
  list-style: disc;
  list-style-position: inside;
}

.p-contact {
  background-color: #fff;
  margin-left: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  background-image: url("../img/contact.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
.p-contact__list {
  margin-top: 3rem;
}
.p-contact__list label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.p-contact__list label:not(:last-child) {
  margin-bottom: 3rem;
}
.p-contact__list label span {
  width: 35%;
}
.p-contact__list label input, .p-contact__list label select, .p-contact__list label textarea {
  border: 1px solid #BCBCBC;
  border-radius: 0.5rem;
  width: 65%;
  height: 3rem;
  padding: 0 0.5rem;
}
.p-contact__list label select {
  background-image: url("../img/arrow-under.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
.p-contact__list label textarea {
  height: 10rem;
  padding: 1rem 0.5rem;
}
.p-contact__list label input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.p-contact__address {
  justify-content: space-between;
  align-items: flex-start;
}
.p-contact__address--title {
  width: 35%;
}
.p-contact__address--post {
  align-items: baseline;
}
.p-contact__address--post input[type=text] {
  width: 50%;
  margin: 0 1rem;
}
.p-contact__address--post input[type=button] {
  color: #fff;
  background-color: #589FC1;
  border-radius: 20px;
  border: 0;
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.6);
}
.p-contact__address--text input, .p-contact__address--text select {
  width: 100%;
}
.p-contact__address--text select {
  background-image: url("../img/arrow-under.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
}
.p-contact__address ul {
  width: 65%;
}
.p-contact__address ul li input, .p-contact__address ul li select {
  border: 1px solid #BCBCBC;
  border-radius: 0.5rem;
  height: 3rem;
  margin-bottom: 3rem;
  padding: 0 0.5rem;
}

.p-project-detail {
  background-color: #fff;
  margin-left: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  background-image: url("../img/project-detail.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
.p-project-detail__explanation {
  margin-top: 1rem;
  line-height: 2;
}
.p-project-detail__explanation p {
  max-width: 48em;
}
.p-project-detail__list {
  margin-top: 1.5rem;
  line-height: 2;
}
.p-project-detail__list ul {
  list-style: disc;
  list-style-position: inside;
}
.p-project-detail__list ul li {
  max-width: 48em;
}

.p-topics-detail {
  background-color: #fff;
  margin-left: 10rem;
  padding: 10.5rem 10.764% 8.5rem;
  background-image: url("../img/topics-detail.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
.p-topics-detail__explanation {
  margin-top: 1rem;
  line-height: 2;
}
.p-topics-detail__explanation p {
  max-width: 48em;
}
.p-topics-detail__contents {
  margin-top: 3rem;
}
.p-topics-detail__introduction {
  width: 33.3333333333%;
  padding: 1.5rem;
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02);
}
.p-topics-detail__introduction:not(:last-of-type) {
  margin-right: 1.5rem;
}
.p-topics-detail__introduction--title h3 {
  font-weight: bold;
}
.p-topics-detail__introduction--list ul {
  list-style: disc;
  list-style-position: inside;
  margin-top: 1rem;
  line-height: 2;
}

.p-topics-press-release {
  margin-top: 3rem;
}
.p-topics-press-release__pharmaceuticals h3 {
  font-weight: bold;
}
.p-topics-press-release__pharmaceuticals:last-of-type {
  margin-top: 3rem;
}
.p-topics-press-release__list {
  margin-top: 1.5rem;
}
.p-topics-press-release__list ul li {
  padding: 1.5rem 0;
  align-items: center;
  border-bottom: 1px solid #D6D6D6;
}
.p-topics-press-release__list ul li:first-of-type {
  border-top: 1px solid #D6D6D6;
}
.p-topics-press-release__list ul li div {
  margin-right: 2rem;
}

.c-heading h2 {
  font-size: 2rem;
  font-weight: bold;
}
.c-heading--about, .c-heading--news {
  text-align: center;
}
.c-heading--topics, .c-heading--access {
  z-index: 1;
  position: relative;
}
.c-heading--project--sub h3 {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.c-button--about {
  text-align: center;
  margin-top: 3rem;
}
.c-button--about a {
  background-color: #589FC1;
  color: #fff;
  border-radius: 20px;
  padding: 1rem 5.5rem;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.6);
}
.c-button--confirmation {
  text-align: center;
  margin-top: 4rem;
}
.c-button--confirmation input {
  background-color: #E57474;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  padding: 1rem 5.5rem;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.6);
}

.c-contact__title {
  align-items: center;
  align-self: flex-start;
  padding-top: 11px;
  font-weight: bold;
}
.c-contact__required {
  padding: 0.3rem 0.5rem;
  color: #fff;
  line-height: 1;
  background-color: #E57474;
  border-radius: 8px;
  width: auto !important;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.c-contact__checkbox {
  margin-left: 35%;
}
.c-contact__checkbox label a span {
  width: auto;
  color: #5DA5D9;
  border-bottom: 1px solid #5DA5D9;
  font-weight: bold;
}
.c-contact__checkbox--icon {
  color: #3E4D62;
  margin-left: 0.5rem;
}

.c-active span {
  background-color: #fff;
}
.c-active span:nth-of-type(1) {
  top: 0.8rem;
  transform: rotate(-45deg);
}
.c-active span:nth-of-type(2) {
  display: none;
}
.c-active span:nth-of-type(3) {
  top: 0.8rem;
  transform: rotate(45deg);
}

.df {
  display: flex;
}

.mauto {
  margin: 0 auto;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.m30 {
  margin: 30px;
}

.m40 {
  margin: 40px;
}

.m50 {
  margin: 50px;
}

.m60 {
  margin: 60px;
}

.m70 {
  margin: 70px;
}

.m80 {
  margin: 80px;
}

.m90 {
  margin: 90px;
}

.m100 {
  margin: 100px;
}

.m150 {
  margin: 150px;
}

.m200 {
  margin: 200px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.mt150 {
  margin-top: 150px;
}

.mt200 {
  margin-top: 200px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.mr70 {
  margin-right: 70px;
}

.mr80 {
  margin-right: 80px;
}

.mr90 {
  margin-right: 90px;
}

.mr100 {
  margin-right: 100px;
}

.mr150 {
  margin-right: 150px;
}

.mr200 {
  margin-right: 200px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb150 {
  margin-bottom: 150px;
}

.mb200 {
  margin-bottom: 200px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.ml70 {
  margin-left: 70px;
}

.ml80 {
  margin-left: 80px;
}

.ml90 {
  margin-left: 90px;
}

.ml100 {
  margin-left: 100px;
}

.ml150 {
  margin-left: 150px;
}

.ml200 {
  margin-left: 200px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.p30 {
  padding: 30px;
}

.p40 {
  padding: 40px;
}

.p50 {
  padding: 50px;
}

.p60 {
  padding: 60px;
}

.p70 {
  padding: 70px;
}

.p80 {
  padding: 80px;
}

.p90 {
  padding: 90px;
}

.p100 {
  padding: 100px;
}

.p150 {
  padding: 150px;
}

.p200 {
  padding: 200px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pt90 {
  padding-top: 90px;
}

.pt100 {
  padding-top: 100px;
}

.pt150 {
  padding-top: 150px;
}

.pt200 {
  padding-top: 200px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pr50 {
  padding-right: 50px;
}

.pr60 {
  padding-right: 60px;
}

.pr70 {
  padding-right: 70px;
}

.pr80 {
  padding-right: 80px;
}

.pr90 {
  padding-right: 90px;
}

.pr100 {
  padding-right: 100px;
}

.pr150 {
  padding-right: 150px;
}

.pr200 {
  padding-right: 200px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb90 {
  padding-bottom: 90px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb150 {
  padding-bottom: 150px;
}

.pb200 {
  padding-bottom: 200px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}

.pl70 {
  padding-left: 70px;
}

.pl80 {
  padding-left: 80px;
}

.pl90 {
  padding-left: 90px;
}

.pl100 {
  padding-left: 100px;
}

.pl150 {
  padding-left: 150px;
}

.pl200 {
  padding-left: 200px;
}