@use "../../foundations/responsive" as *;

.c-button {
    &--about {
        a {
            &:hover {
                color: #589FC1;
                border-radius: 0px;
                background: transparent;
                transition:.3s ease;
                &::before {
                    height: 100%;
                }
                &::after {
                    width: 100%;
                }
            }
            &::before, &::after {
                position: absolute;
                content: "";
                right: 0;
                bottom: 0;
                background: #589FC1;
                box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
                        -4px -4px 5px 0px rgba(255, 255, 255, .9),
                        7px 7px 20px 0px rgba(0, 0, 0, .2),
                        4px 4px 5px 0px rgba(0, 0, 0, .3);
                transition: all 0.3s ease;
            }
            &::before {
                height: 0%;
                width: 2px;
            }
            &::after {
                height: 2px;
                width: 0%;
            }
            span {
                padding: 1rem 5.5rem;
                @include mq(sm) {
                    padding: 0;
                }
                &::before, &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    background: #589FC1;
                    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
                            -4px -4px 5px 0px rgba(255, 255, 255, .9),
                            7px 7px 20px 0px rgba(0, 0, 0, .2),
                            4px 4px 5px 0px rgba(0, 0, 0, .3);
                    transition: all 0.3s ease;
                }
                &::before {
                    height: 0%;
                    width: 2px;
                }
                &::after {
                    height: 2px;
                    width: 0%;
                }
                &:hover {
                    &::before {
                        height: 100%;
                    }
                    &::after {
                        width: 100%;
                    }    
                }
            }
        }
    }

}