@use "../../foundations/responsive" as *;

.c-contact {
    &__title {
        align-items: center;
        align-self: flex-start;
        padding-top: 11px;
        font-weight: bold;
        @include mq(sm) {
            padding-top: 0;
        }
    }
    &__required {
        padding: .3rem .5rem;
        color: #fff;
        line-height: 1;
        background-color: #E57474;
        border-radius: 8px;
        width: auto !important;
        margin-left: .5rem;
        font-size: .8rem;
    }
    &__checkbox {
        margin-left: 35%;
        @include mq(sm) {
            margin-left: 0;
        }
        label {
            @include mq(sm) {
                display: flex !important;
                align-items: center;
            }
            a {
                span {
                    width: auto;
                    color: #5DA5D9;
                    border-bottom: 1px solid #5DA5D9;
                    font-weight: bold;
                }
            }
        }
        &--icon {
            color: #3E4D62;
            margin-left: .5rem;
        }
    }
}