.c-contact {
    &__title {
        align-items: center;
        align-self: flex-start;
        padding-top: 11px;
        font-weight: bold;
    }
    &__required {
        padding: .5rem;
        color: #fff;
        line-height: 1;
        background-color: #E57474;
        border-radius: 8px;
        width: auto !important;
        margin-left: .5rem;
    }
    &__checkbox {
        margin-left: 35%;
    }
}