.c-heading {
    h2 {
        font-size: 2rem;
        font-weight: bold;
    }
    &--about, &--news {
        text-align: center;
    }
    &--topics, &--access {
        z-index: 1;
        position: relative;
    }
    &--project {
            &--sub {
                    h3 {
                        margin-top: 3rem;
                        font-size: 1.5rem;
                    }
            }
    }
}