.c-heading {
    h2 {
        font-size: 2rem;
        font-weight: bold;
    }
    &--about, &--news {
        text-align: center;
    }
    &--business {
        max-width: 1100px;
        margin: 0 auto;
    }
    &--topics {
        max-width: 1100px;
        margin: 0 auto;
        z-index: 1;
        position: relative;
    }
}