@use "../../foundations/responsive" as *;

.c-heading {
    h2 {
        font-size: 2rem;
        font-weight: bold;
    }
    &--about, &--news {
        text-align: center;
    }
    &--news, &--topics{
        @include mq(sm) {
            margin-top: 1rem;
        }
    }
    &--topics, &--project, &--access {
        z-index: 0;
        position: relative;
    }
    &--project {
            &--sub {
                    h3 {
                        margin-top: 3rem;
                        font-size: 1.5rem;
                    }
            }
    }
}