.c-nav-animation {
    &__header {
        line-height: 1.2em;
        color: #0000;
        text-shadow: 
            0 0 #3E4D62, 
            0 1.2em #1095c1;
        overflow: hidden;
        transition:.3s ease;
        &:hover {
            text-shadow: 
            0 -1.2em #000, 
            0 0 #589FC1;
        }
        &--sub {
            &:hover {
                transition: .3s ease;
                background-color: #fff;
                color: #589FC1;
            }    
        }
        &--contact {
            transition: all .5s ease;
            &:hover {
                animation: gradient 3s infinite;
                transform: scale(1.05);
            }
        }
    }
    &--footer {
        line-height: 1.2em;
        color: #0000;
        text-shadow: 
            0 0 #fff, 
            0 1.2em #ABEFFE;
        overflow: hidden;
        transition:.3s ease;
        &:hover {
            text-shadow: 
            0 -1.2em #fff, 
            0 0 #ABEFFE;
        }
    }
}