@use "../../foundations/responsive" as *;

.p-about {
    background-color: #fff;
    border-radius: 0 0 0 4rem;
    margin-left: 10rem;
    padding: 10.5rem 10.764% 8.5rem;
    background-image: url("../img/about-us.svg");
    background-repeat: no-repeat;
    background-size: auto;
    @include mq() {
        margin-left: 5%;
        padding: 15% 10.764% 15%;
        background-size: 80%;
    }
    @include mq(sm) {
        border-radius: 0 0 0 2rem;
        padding: 3.5rem 10.764% 4.5rem;
        background-size: 90%;
    }
    &__text {
        text-align: center;
        margin-top: 3rem;
        @include mq() {
            margin-top: 2rem;
        }
        p {
            display: inline-block;
            text-align: left;
            line-height: 2;
        }
    }
}