.p-business {
    background-color: #fff;
    &__back {
        background-color: #ECF1F4;
        border-radius: 0 4rem 0 0;
        margin-right: 10rem;
        padding: 10.5rem 10.764% 8.5rem;
        // background-image: url("../img/about-us.svg");
        // background-repeat: no-repeat;
        // background-size: 60rem;    
    }
}