.p-contact {
    background-color: #fff;
    margin-left: 10rem;
    padding: 10.5rem 10.764% 8.5rem;
    background-image: url("../img/contact.svg");
    background-repeat: no-repeat;
    background-size: auto;
    &__list {
        margin-top: 3rem;
        label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
            span {
                width: 35%;
            }
            input, select, textarea {
                border: 1px solid #BCBCBC;
                border-radius: .5rem;
                width: 65%;
                height: 3rem;
                padding: 0 .5rem;
            }
            select {
                background-image: url('../img/arrow-under.svg');
                background-position: right 10px center;
                background-repeat: no-repeat;
                background-size: 13px 13px;
            }    
            textarea {
                height: 10rem;
                padding: 1rem .5rem;
            }
            input[type="checkbox"] {
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
        }
    }
    &__address {
        justify-content: space-between;
        align-items: flex-start;
        &--title {
            width: 35%;
        }
        &--post {
            align-items: baseline;
            input {
                &[type="text"] {
                    width: 50%;
                    margin: 0 1rem;
                }
                &[type="button"] {
                    color: #fff;
                    background-color: #589FC1;
                    border-radius: 20px;
                    border: 0;
                    padding: .5rem 1rem;
                    box-shadow: 0px 3px 10px -4px rgb(0 0 0 / 60%);
                }
            }
        }
        &--text {
            input, select {
                width: 100%;
            }
            select {
                background-image: url('../img/arrow-under.svg');
                background-position: right 10px center;
                background-repeat: no-repeat;
                background-size: 13px 13px;
            }
        }
        ul {
            width: 65%;
            li {
                input,select {
                    border: 1px solid #BCBCBC;
                    border-radius: .5rem;
                    height: 3rem;
                    margin-bottom: 3rem;
                    padding: 0 .5rem;
                }
            }
        }
    }
}