.p-loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    background: #589FC1;
    justify-content: center;
    align-items: center;
    &__loaded {
        opacity: 0;
        visibility: hidden;
    }
}