@use "../../foundations/responsive" as *;

.p-nav-sp {
    &__list {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: #589FC1;
        height: 100vh;
        width: 50vw;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.6s;
        padding-top: 8rem;
        @include mq() {
            height: 100%;
            width: 80%;
        }
        ul {
            a {
                li {
                    padding: 2rem .5rem 1rem;
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #fff;
                    border-bottom: 1px solid #fff;
                    justify-content: space-between;
                    .material-symbols-outlined {
                        transform: none;
                        background-color: transparent;
                    }    
                    &:hover {
                        background-color: #fff;
                        color: #589FC1;
                        transition:.3s ease;
                    }
                }    
            }
        }
        &.c-active {
            transform: translateX(0%);
            visibility: visible;
        }
    }
}