@use "../../foundations/responsive" as *;

.p-nav{
    &--header {
        justify-content: space-between;
        align-items: center;
        padding: 0 8%;
        font-weight: bold;
        &__list {
            margin: 2.5rem 0;
            align-items: center;
            li {
                &:not(:last-of-type) {
                    margin-right: 4rem;
                }
            }
        }
        &__contact {
            a {
                background: linear-gradient(90deg, rgba(26,77,199,1) 0%, rgba(88,137,212,1) 47%, rgba(105,216,252,1) 97%);                color: #fff;
                padding: .7rem 1rem;
                border-radius: 20px;
            }
        }
        @include mq() {
            display: none;
        }
    }
    &--project {
        & > a {
            padding-bottom: 3rem;
        }
        &--sub {
            display: none;
            position: absolute;
            background-color: #589FC1;
            padding-bottom: 3rem;
            margin-bottom: 0;
            margin-top: 1.5rem;
            padding: 0;
            a {
                li {
                    font-size: 1.3rem;
                    color: #fff;
                    margin: 0;
                    width: 100%;
                    border-bottom: 1px solid;
                    padding: 1.5rem .5rem;
                }
                &:last-of-type {
                    li {
                        border: none;
                    }
                }
            }
        }
    }
    &--footer {
        color: #fff;
        padding: 3rem 8%;
        align-items: center;
        @include mq() {
            display: block;
        }
        @include mq(sm) {
            align-items: flex-end;
        }
        nav {
            ul {
                @include mq() {
                    flex-wrap: wrap;
                }
                @include mq(sm) {
                    display: block;
                }
                li {
                    font-weight: bold;
                    @include mq() {
                        width: 50%;
                    }
                    @include mq(sm) {
                        width: 100%;
                    }
                    &:not(:last-of-type) {
                        margin-right: 4rem;
                        @include mq() {
                            margin-right: 0;
                            margin-bottom: 2rem;
                        }
                        @include mq(sm) {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
            }
        }
        &--copyright {
            margin-left: auto;
            @include mq() {
                margin-top: 2rem;
            }
        }
    }
}