@use "../../foundations/responsive" as *;

.p-project {
    background-color: #fff;
    &__back {
        background-color: #ECF1F4;
        border-radius: 0 4rem 4rem 0;
        margin-right: 10rem;
        padding: 10.5rem 10.764% 8.5rem;
        position: relative;
        @include mq() {
            padding: 15% 10.764% 15%;
            margin-right: 5%;
        }
        @include mq(sm) {
            border-radius: 0 2rem 2rem 0;
            margin-right: 5%;
            padding: 4.5rem 10.764% 3.5rem;
        }
        &::before {
            content: "";
            position: absolute;
            width: 50rem;
            height: 15rem;
            background-image: url("../img/project.svg");
            background-repeat: no-repeat;
            background-size: 60rem;
            top: 0;
            right: 0;
            @include mq() {
                width: 100%;
                height: 45%;
                background-size: 100vw;
                background-position: -200% 0;
            }
            @include mq(sm) {
                height: 7rem;
                left: 5%;
            }
        }
    }
    &__list {
        margin-top: 3rem;
        justify-content: center;
        @include mq() {
            position: relative;
            z-index: 0;
        }
        @include mq(sm) {
            margin-top: 2rem;
            display: block;
        }
    }
    &__box {
        &:not(:last-of-type) {
            margin-right: 4rem;
            @include mq() {
                margin-right: 1.5rem;
            }
            @include mq(sm) {
                margin-right: 0;
                margin-bottom: 2rem;

            }
        }    
        &--name {
            margin-top: 2rem;
            text-align: center;
            @include mq(sm) {
                margin-top: 1rem;
            }
        }
    }

}