.p-topics-press-release {
    margin-top: 3rem;
    &__pharmaceuticals {
        h3 {
            font-weight: bold;
        }
        &:last-of-type {
            margin-top: 3rem;
        }
    }
    &__list {
        margin-top: 1.5rem;
        ul {
            li {
                padding: 1.5rem 0;
                align-items: center;
                border-bottom: 1px solid #D6D6D6;
                &:first-of-type {
                    border-top: 1px solid #D6D6D6;
                }
                div {
                    margin-right: 2rem;
                }
            }
        }
    }
}