@use "../../foundations/responsive" as *;

.p-topics-detail {
    background-color: #fff;
    margin-left: 10rem;
    padding: 10.5rem 10.764% 8.5rem;
    background-image: url("../img/topics-detail.svg");
    background-repeat: no-repeat;
    background-size: auto;
    @include mq() {
        margin-left: 5%;
        padding: 15% 10.764% 15%;
        background-size: 80%;
    }
    @include mq(sm) {
        padding: 3.5rem 5% 4.5rem;
        background-size: 90%;
    }
    &__explanation {
        margin-top: 1rem;
        line-height: 2;
        p {
            max-width: 48em;
        }
    }
    &__contents {
        margin-top: 3rem;
        @include mq(sm) {
            display: block;
            margin-top: 2rem;
        }
    }
    &__introduction {
        width: calc(100% / 3);
        padding: 1.5rem;
        box-shadow: 0px 4px 17px -5px rgb(10 10 10 / 10%), 0px 0px 0px 1px rgb(10 10 10 / 2%);
        @include mq(sm) {
            width: 100%;
        }
        &:not(:last-of-type) {
            margin-right: 1.5rem;
            @include mq(sm) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        &--title {
            h3 {
                font-weight: bold;
            }
        }
        &--list {
            ul {
                list-style: disc;
                list-style-position: inside;
                margin-top: 1rem;
                line-height: 2;
                li {
                    padding-left: 1em;
                    text-indent: -1em;
                }
            }    
        }
    }
}